@media (min-width: 1012px) and (max-width: 1279px) {
    .client-responsive{
        gap: 40px;
    }
    .client-description{
        width: 300px;
    }
}
@media (min-width: 1280px) and (max-width: 1540px) {
    .client-responsive{
        gap: 130px;
    }
    .client-description{
        width: 450px;
    }

}
@media (min-width: 768px) and (max-width: 1539px) {
    .subscribe-btn{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1024px) and (max-width: 1539px){
    .footer-content{
        gap: 90px;
    }
    .get-started{
        gap: 0px;
    }
    .get-started img{
        margin-left:-170px;
    }
}